!!! 5
html
   head
      link(rel='stylesheet', href='/css/reset.css')
      link(rel='stylesheet', href='/css/style.css')
      block styles
      script(src='/js/right.js')
      block scripts

   body
      block content
         p caliss
      block foot
         #footer
            p
               | Copyright
               a(href='http://twitter.com/#!/alain_gilbert', target='_blank') @alain_gilbert
