!!! 5
html
   head
      link(rel='stylesheet', href='/css/reset.css')
      link(rel='stylesheet', href='/css/style.css')
      block styles
      script(src='/js/right.js')
      block scripts

   body
      #fb-root

      block share

      block ads

      block head

      #page
         block content

      block foot
         #footer
            .center
               .left
                  span
                     | Follow
                     a(href='http://twitter.com/#!/alain_gilbert', target='_blank') @alain_gilbert
                     |  on twitter
                  br
                  a(href='/terms/') Terms of Service / Privacy Policy
                  br
